*, *::before, *::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.container{
    position: absolute;

}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #b134eb, #34e8eb );
    background-image: url(/images/bgPic.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:sticky;
    margin: 5%;

}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(50, 53, 52, 0.75);
}
.calc-grid > button:hover{
    background-color: rgba(174, 180, 94, 0.9);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/ -1;
    background-color: rgba(126, 176, 145, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

